<%= form_with(model: article, local: true) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Set this field to hidden and use the current users username to save -->
  <!-- Create a new hidden field to pass the username to the db -->
  <div class="field">
    <%= form.hidden_field :by, id: User.find(session[:user_id]) %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :article_title %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url, id: :article_url %>
  </div>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_area :text, id: :article_text %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
