<%= form_with(model: articles, local: true) do |form| %>
  <% if articles.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(articles.errors.count, "error") %> prohibited this articles from being saved:</h2>

      <ul>
      <% articles.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Set this field to hidden and use the current users username to save -->
  <!-- Create a new hidden field to pass the username to the db -->
  <div class="field">
    <%= form.hidden_field :by, id: current_user.id %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :articles_title %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url, id: :articles_url %>
  </div>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_area :text, id: :articles_text %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
