<p id="notice"><%= notice %></p>

<div class="articles">
<% @articles.each do |article| %>
  <div class="article">
    <p><%= article.id %> <%= link_to article.title, '/news/' << article.id.to_s %></p>
    <p><%= article.url %></p>
    <p>Posted by <%= article.by %> <%= time_ago_in_words(article.created_at) %> ago.</p>
  <div>
<% end %>
</div>

<%= link_to 'Post New Article', new_article_path %>
