<p id="notice"><%= notice %></p>

<h1>articles</h1>
<div class="articles articles-table">
  <table>
    <thead>
      <tr>
        <th>By</th>
        <th>Url</th>
        <th>Title</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @articles.each do |article| %>
        <tr>
          <td><%= article.by %></td>
          <td><%= article.url %></td>
          <td><%= article.title %></td>
          <td><%= link_to 'Show', article %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>

<%= link_to 'Post New Article', new_article_path %>
