<% content_for :title, @article.title %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="articles col-md-10">
      <!-- <p id="notice"><%= notice %></p> -->
      <p>
        <strong>
          <%= @article.title %>
          (<%= @article.url %>)
        </strong>
      </p>

      <p class="text-muted">&nbsp;&nbsp;&nbsp;by
        <%= @article.by %>
        <%= time_ago_in_words(@article.created_at) %>
        ago.
      </p>

      <%= form_for [@article, Comment.new] do |f| %>
      <%= f.label :body, "Add a new comment!" %><br/>
      <%= f.text_area :body, class:"form-control col-md-6", rows:4%>
      <%= f.hidden_field :user_id, :value => session[:user_id]%>

      <%= f.submit "Submit comment", class: "btn btn-primary col-md-2" %>
      <% end %>
      <div>
        
        <%= @comments.each do |comment| %>
          <%= comment[:body] %>
          <%= comment[:user_id] %>
        <% end %>

      </div>
      <%= link_to 'Edit', edit_article_path(@article) %>
      |
      <%= link_to 'Back', news_path %>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
