<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @articles.title %>
</p>


<p>
  <strong>Url:</strong>
  <%= @articles.url %>
</p>

<p>
  <strong>Text:</strong>
  <%= @articles.text %>
</p>

<p>
  <strong>By:</strong>
  <%= @articles.by %>
</p>

<%= form_for [@articles, Comment.new] do |f| %>
  <p>
    <%= f.label :body, "Add a new comment!" %><br/>
    <%= f.text_area :body %>
  </p>
  <p><%= f.submit "Add comment" %></p>
<% end %>

<%= link_to 'Edit', edit_articles_path(@articles) %> |
<%= link_to 'Back', articles_index_path %>
