<% content_for :title, @article.title %>
<p id="notice"><%= notice %></p>
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>


<p>
  <strong>Url:</strong>
  <%= @article.url %>
</p>


<p>
  <strong>Author:</strong>
  <%= @article.by %>
</p>

<%= @comments.each do |comment| %>
<div class="article-comment">
  <p>
    <%= comment[:body] %>
  </p>
  <p>
    Posted by <%= get_username(comment[:user_id]) %> <%= time_ago_in_words(comment[:created_at]) %> ago
  </p>
</div>
<% end %>

<%= form_for [@article, Comment.new] do |f| %>
  <p>
    <%= f.label :body, "Add a new comment!" %><br/>
    <%= f.text_area :body %>
    <%= f.hidden_field :user_id, :value => session[:user_id]%>
  </p>
  <p><%= f.submit "Add comment" %></p>
<% end %>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', news_path %>
