<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_for(@user) do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username, class: "form-control", id: "username", placeholder: "Enter your username" %>

    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control", id: "password", placeholder: "Enter your password" %>

    <%= f.label :password_confirmation, "Password Confirmation" %>
    <%= f.password_field :password_confirmation, class: "form-control", id: "password", placeholder: "Enter your password again"%>

    <%= f.submit "Create Account", class: "btn btn-primary" %>
  <% end %>
<% end %>
