<% provide(:title, current_user.username) %>
<p id="notice"><%= notice %></p>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= current_user.username %>
      </h1>
      <p>
        <!--
          render the users gravatar here if they have one.
          otherwise render an upload message
        -->
        <%= prof_pic_for(current_user) %>
      </p>
    </section>
  </aside>
</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
