<ul class="nav">
  <li class="nav-item">
    <%= link_to image_tag("RMIT.png", border: 0, size: '15x15') %> RMIT News
  </li>
  <li class="nav-item">
    |
  </li>
  <li class="nav-item">
    <%= link_to 'Home', "/" %>
  </li>
  <li class="nav-item">
    |
  </li>
  <li class="nav-item">
    <%= link_to 'Comments', "" %>
  </li>
  <li class="nav-item">
    |
  </li>
  <li class="nav-item">
    <%= link_to 'Submit', "" %>
  </li>
  <li class="nav-item">
    |
  </li>
  <li class="nav-item">
    <!-- TODO: make this only show this if not already logged in -->
    <%= link_to 'Sign Up', "/users/new" %>
  </li>
</ul>
