<p class="navbar-text pull-right">
  <%= link_to image_tag("RMIT.png", border: 0, size: '15x15') %> RMIT News
  <%= link_to 'Home', "" %> |
  <%= link_to 'Comments', "" %> |
  <%= link_to 'Submit', "" %> |
  <!-- TODO: only show this if not already logged in -->
  <%= link_to 'Sign Up', "/users/new" %>
</p>
